.cart-order-wrapper {
  .cart-h {
    padding-bottom: 150px;
    border-bottom: 1px dotted rgba(212, 207, 207, 0.623);
  }
  .cart-info-div {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px dotted rgba(212, 207, 207, 0.623);
    .price-div {
      width: 50%;
      p,
      strong {
        font-size: 28px;
      }
      .attributes {
        width: 70%;
        display: flex;
        justify-content: space-between;
        div {
          padding: 7px;
          border: 1px solid black;
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .count-div {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      button {
        border: 1px solid black;
        min-width: 30px;
        min-height: 30px;
        padding: 5px;
        cursor: pointer;
      }
    }
    .img-div {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 130px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
}
