.cart-wrapper {
  display: flex;
  .all-images {
    display: flex;
    flex-direction: column;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
  .product-info {
    display: flex;
    img {
      width: 610px;
      height: 511px;
      margin: 0px 80px 0px 40px;
    }
    .information {
      max-width: 300px;
    }
    .sizes {
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      .active {
        background-color: black;
        color: white;
      }
      div {
        border: 1px solid black;
        min-width: 20%;
        margin-right: 10px;
        min-height: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .colors {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      .active {
        border: 2px solid greenyellow;
      }
      div {
        width: 30px;
        height: 30px;
      }
    }
    .add {
      width: 100%;
      max-width: 292px;
      min-height: 52px;
      background-color: #5ece7b;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
