@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
.left-nav {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  .active {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
    font-weight: 600;
  }
  li {
    list-style: none;
    margin: 0px 10px;
    a {
      text-decoration: none;
      color: #1D1F22;
      font-family: "Raleway";
      font-weight: 400;
      font-size: 16px;
    }
  }
}
