.right-nav {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  div button svg {
    transform: rotate(180deg);
  }
  div button .active {
    transform: rotate(0deg);
  }
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .currencies {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
  }
  ul {
    position: absolute;
    z-index: 100;
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
    }
    li:hover {
      background-color: #eeeeee;
    }
  }
  .cart-logo {
    color: #43464e;
    p {
      margin: 0px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      svg {
        scale: 1.5;
        margin: 0px 2px;
      }
    }
  }
  .total-price {
    display: flex;
    justify-content: space-between;
  }
  article {
    .outside {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 150;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(53, 36, 36, 0.2);
    }
    .mini-cart {
      position: absolute;
      min-width: 400px;
      z-index: 50;
      right: 20px;
      padding: 15px;
      background-color: white;
      .cart-info-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .price-div {
          width: 50%;
          .attributes {
            width: 70%;
            display: flex;
            justify-content: space-between;
            div {
              padding: 7px;
              border: 1px solid black;
              margin-right: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .count-div {
          width: 20%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          button {
            border: 1px solid black;
            min-width: 30px;
            min-height: 30px;
            padding: 5px;
          }
        }
        .img-div {
          width: 30%;
          img {
            width: 90px;
            height: 135px;
            object-fit: cover;
          }
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        button {
          border: 1px solid black;
          min-width: 158px;
          min-height: 45px;
          background-color: #5ece7b;
          color: white;
          cursor: pointer;
        }
        a {
          border: 1px solid black;
          color: black;
          min-width: 158px;
          min-height: 45px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
}
